.image-view {
  width: 200px;
  height: 100px;
  /* border: 1px solid #bdc3c7; */
  border-radius: 10px;
}

#travel-pacakageVehicle-tbl {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.booking-list {
  list-style: none;
}

.t-fs {
  font-size: 10px;
}
#navbarDropdownMenuLink {
  color: #f1a501;
  font-weight: bold;
  font-size: 17px;
}
#logout {
  cursor: pointer;
}
